.example-card {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small/default-avatar-profile-icon-of-social-media-user-vector.jpg');
  background-size: cover;
}
